/*-------------------------------------- GLOBALS --------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nrm {
  margin-right: 0;
}
.nlm {
  margin-left: 0;
}
/*-------------------------------------- COMMON --------------------------------------*/
body {
  font: 14px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #888888;
}
.clear,
br {
  clear: both;
}
img {
  vertical-align: middle;
}
a:link {
  color: #767878;
  text-decoration: none;
}
a:visited {
  color: #767878;
  text-decoration: none;
}
a:hover {
  color: #767878;
  text-decoration: underline;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button:focus,
a:focus {
  outline-style: none;
}
button.plain {
  display: inline;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
button.plain:hover {
  cursor: pointer;
}
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: normal;
}
h1 {
  font-size: 38px;
  text-align: center;
  font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
h2 {
  border-bottom: 1px solid #eeeeef;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 28px;
  font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 18px;
  font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
p {
  line-height: 25px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#page_wrap {
  position: relative;
  overflow: hidden;
}
.container {
  width: 978px;
  margin: 0 auto;
}
.container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.container.moveleft {
  left: -100%;
}
.container.moveright {
  left: 100%;
}
.box {
  position: relative;
  left: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
header {
  height: 120px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeef;
  box-shadow: 0 5px 20px #e5e5e5;
}
header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
header #logo {
  display: block;
  float: left;
}
header #logo img {
  width: 445px;
}
header nav {
  float: left;
  margin-top: 90px;
}
header nav li {
  display: inline-block;
  height: 30px;
  position: relative;
}
header nav li button {
  display: inline-block;
  padding: 0 20px !important;
  font-size: 18px;
  color: #767878;
  font-family: 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
header nav li em {
  display: block;
  width: 50px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  background: #767878;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header nav li em.active {
  opacity: 1;
}
header nav li:hover em {
  opacity: 1;
}
header nav li ul {
  display: none;
  width: 110px;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -55px;
  background: #fff;
  border: 1px solid #eeeeef;
  border-bottom: none;
  z-index: 99999;
}
header nav li ul li {
  width: 110px;
  height: 40px;
  border-bottom: 1px solid #eeeeef;
}
header nav li ul li button {
  width: 100%;
  height: 100%;
  color: #a0a0a0;
  font-size: 16px;
}
header nav li ul li button:hover {
  background: #f2f2f2;
}
#feature {
  text-align: center;
  margin-bottom: 60px;
}
#feature .video_wrap {
  width: 100%;
}
#latest {
  margin-bottom: 60px;
}
.grid {
  text-align: center;
}
.grid > div {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
.grid > div.sub {
  margin-bottom: 20px;
}
.grid > div > button {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: none;
  border: 5px solid #fff;
  box-shadow: 0 0 20px #e5e5e5;
}
.grid > div > button.edit {
  border-color: red;
}
.grid > div > button:hover {
  cursor: pointer;
}
.grid > div > button:hover span {
  opacity: 0;
}
.grid > div > button:hover em {
  bottom: 0;
}
.grid > div > button span {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  opacity: .3;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grid > div > button em {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 25px;
  font-style: normal;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grid > div > button img {
  width: 300px;
}
.columns {
  margin-bottom: 60px;
}
.columns.move {
  left: 100%;
}
.columns > div {
  width: 306px;
  float: left;
  margin-right: 30px;
}
.columns > div.nrm {
  margin-right: 0;
}
footer {
  height: 240px;
  border-top: 1px solid #eeeeef;
  box-shadow: 0 -5px 20px #e5e5e5;
  background: url(../images/footer_bg.gif) center bottom no-repeat;
  background-attachment: fixed;
}
footer .container {
  padding-top: 40px;
}
footer .container #copyright {
  float: left;
  color: #767878;
}
footer .container #social {
  float: right;
}
footer .container #social ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .container #social ul li {
  display: block;
  float: left;
  margin-left: 10px;
}
footer .container #social ul li a {
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  background: url(../images/social.png) 0 0 no-repeat;
  text-indent: -5000px;
  opacity: .5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer .container #social ul li a:hover {
  opacity: 1;
}
footer .container #social ul li a#facebook {
  background-position: 0 0;
}
footer .container #social ul li a#twitter {
  background-position: 0 -20px;
}
footer .container #social ul li a#youtube {
  background-position: 0 -40px;
}
footer .container #social ul li a#vimeo {
  background-position: 0 -60px;
}
footer .container #social ul li a#instagram {
  background-position: 0 -80px;
}
/*===================== MULTIMEDIA =====================*/
#multimedia {
  text-align: center;
  margin-bottom: 60px;
}
/*===================== WEDDINGS =====================*/
#weddings .grid {
  margin-bottom: 60px;
}
#weddings p {
  margin-bottom: 60px;
}
/*===================== ABOUT =====================*/
#about p {
  margin-bottom: 60px;
}
/*===================== PRODUCTION =====================*/
#production section {
  margin-bottom: 60px;
}
#production section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*===================== CONTACT =====================*/
#contact #contact_left,
#contact #contact_right {
  width: 50%;
  float: left;
}
#contact #contact_left {
  margin-bottom: 60px;
}
#contact .iwrap {
  padding: 0 30px;
  margin-bottom: 20px;
}
#contact .iwrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#contact .iwrap label {
  display: inline-block;
  margin-bottom: 5px;
}
#contact .iwrap label.error {
  float: right;
  color: red;
  font-size: 12px;
  font-style: italic;
}
#contact .iwrap input[type="text"],
#contact .iwrap textarea {
  width: 100%;
  margin: 0;
  padding: 5px;
  border: 1px solid #eeeeef;
  font-size: 20px;
  font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
#contact .iwrap textarea {
  height: 120px;
}
#contact input[type="submit"] {
  float: right;
  margin: 20px 20px 0 0;
  padding: 10px;
  background: #eeeeef;
  border: 1px solid #a0a0a0;
  font-size: 20px;
  font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#contact input[type="submit"]:hover {
  cursor: pointer;
  background: #767878;
  color: #fff;
}
#thankyou {
  padding: 100px 0;
  text-align: center;
  font-size: 26px;
}
/*===================== MODAL WINDOW =====================*/
.overlay,
#page_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20000;
}
#page_overlay {
  position: absolute;
  background: #fff;
}
#page_overlay img {
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -100px;
}
#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  background: #fff;
  z-index: 30000;
}
#modal #modal_content {
  position: relative;
  margin: 20px;
  font-size: 14px;
  color: #000;
}
#modal #modal_content iframe {
  width: 853px;
  height: 480px;
}
#modal #modal_content h2 {
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: none;
  color: #000;
  font-size: 30px;
}
#modal #close {
  display: block;
  width: 42px;
  height: 42px;
  background: url(../images/modal_close.png) 0 0 no-repeat;
  border: none;
  position: absolute;
  right: -20px;
  top: -18px;
  z-index: 31000;
}
.modal_content {
  display: none;
}
.edit_options {
  width: 230px;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -135px;
  margin-top: -85px;
  background: #fff;
  box-shadow: 0 0 10px #000;
  text-align: left;
  z-index: 30000;
}
.edit_options .button_row {
  margin-bottom: 10px;
}
.edit_options .iwrap {
  margin-bottom: 10px;
}
.edit_options .iwrap label {
  display: inline-block;
  width: 75px;
}
.edit_options .iwrap input[type="text"] {
  width: 125px;
  font-size: 14px;
}
.edit_options .iwrap input[type="text"]:disabled {
  border: 2px solid transparent;
}
/*-------------------------------------- TABLETS --------------------------------------*/
@media (min-width: 481px) and (max-width: 978px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
  .grid > div {
    width: 30%;
  }
  .grid > div > button {
    width: 100%;
  }
  .grid > div > button img {
    width: 100%;
  }
  .columns > div {
    width: 30%;
  }
  header nav {
    float: right;
    margin-top: 0;
  }
  header nav ul {
    width: 120px;
  }
  header nav ul li {
    line-height: 30px;
    width: 100%;
  }
  header nav ul li ul li button {
    font-size: 14px;
  }
  header nav ul li button {
    width: 100%;
    padding: 0 !important;
    font-size: 15px;
  }
  #modal #modal_content iframe {
    width: 600px;
    height: 337px;
  }
}
/*-------------------------------------- MOBILE --------------------------------------*/
@media only screen and (max-width: 480px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
  header {
    height: auto;
  }
  header .container {
    border-bottom: 1px solid #eeeeef;
    text-align: center;
    padding: 0;
  }
  header #logo {
    float: none;
  }
  header #logo img {
    width: 320px;
  }
  header nav {
    float: none;
    margin: 0;
  }
  header nav li {
    width: 100%;
    height: auto;
    padding: 5px 0;
    border-bottom: 1px solid #eeeeef;
    text-align: center;
    line-height: 30px;
  }
  header nav li em {
    display: none;
  }
  header nav li button {
    width: 100%;
    font-size: 18px;
  }
  header nav li ul {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    margin-left: 0;
    margin-bottom: -7px !important;
    background: #efefef;
  }
  header nav li ul li {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #fff;
    background: #efefef;
    line-height: 20px;
    font-size: 12px;
  }
  #latest {
    padding: 0 20px;
  }
  .grid > div {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px 0;
  }
  .grid > div > button {
    width: 100%;
  }
  .grid > div > button img {
    width: 100%;
  }
  .columns > div {
    width: auto;
    margin: 0 0 30px 0;
    padding: 0 20px;
  }
  #modal #modal_content iframe {
    width: 250px;
    height: 140px;
  }
  #page_overlay img {
    top: 50px;
  }
  #contact #contact_left,
  #contact #contact_right {
    width: 100%;
    float: left;
  }
  #contact #contact_left {
    margin-bottom: 0;
  }
  #contact #contact_right {
    margin-bottom: 60px;
  }
  footer .container #copyright {
    float: none;
    margin-bottom: 30px;
    text-align: center;
  }
  footer .container #social {
    float: none;
    text-align: center;
  }
}
/*-------------------------------------- MOBILE PORTRAIT --------------------------------------*/
@media only screen and (max-width: 767px) and (orientation: portrait) {
  
}
/*-------------------------------------- FONTS --------------------------------------*/
/**
 * 
 * SOURCE SANS PRO
 * 
 */
@font-face {
  font-family: 'source_sans_probold';
  src: url('../fonts/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'), url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prolight';
  src: url('../fonts/sourcesanspro-light-webfont.eot');
  src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-light-webfont.woff') format('woff'), url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('../fonts/sourcesanspro-semibold-webfont.eot');
  src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'), url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.SourceSansReg {
  font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
}
.SourceSansLight {
  font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
.SourceSansSemiBold {
  font-family: 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.SourceSansBold {
  font-family: 'source_sans_probold', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
